.mainImg {
  width: 100%;
  height: 100%;
  background-image: url("../../Images/rm.jpg");
  background-size: cover;
  position: fixed;
  z-index: -1;
  top: 30px;
}

.seat {
  background-color: #eeeee4 !important;
}
.resSeat {
  background-color: #007500 !important;
}

.seat:hover {
  cursor: pointer;
}
.resSeat:hover {
  cursor: pointer;
}
